@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body
{
  color:#2c3e50;
  background-color:#f0f0f0;
  width:100%;
  border-top:solid #d90006;
  border-width:4px
}

h1,h2,h3,h4,h5,h6
{
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  color:#d90006
}

h1
{
  font-weight:700;
  color:#6d7680
}

h2,h3
{
  font-weight:700
}

h1 a,h2 a,h3 a,h4 a
{
  color:#428fe0
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color:#29598c
}

p
{
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:200
}

.posts
{
  font-size:20px;
  list-style:none;
  font-weight:lighter;
  line-height:250%;
  padding-bottom:30px
}

.homepage-posts
{
  list-style:none
}

.container
{
  width:80%;
  padding-right:0;
  padding-top:30px
}

.container a
{
  border-bottom:1px #8a8a8a dotted;
  text-decoration:none
}

#wrapper
{
  padding-left:250px;
  transition:all .5s ease 0
}

.navbar
{
  display: none;
}

.navbar a
{
  text-decoration: none;
  border-bottom: 1px #b1b1b1 solid;
}

#sidebar-wrapper
{
  margin-left:-280px;
  left:250px;
  width:280px;
  background:#f8f8f8;
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-4px;
  border-top:solid #d90006;
  transition:all .4s ease 0;
  border-width:4px
}

.sidebar-nav
{
  position:absolute;
  top:0;
  width:250px;
  list-style:none;
  margin:0;
  padding:30px 0 0
}

.sidebar-nav li
{
  line-height:30px;
  text-indent:40px;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:200;
  color:#9c9c9c;
  text-shadow:1px 1px #fff
}

.sidebar-nav li a
{
  color:#999;
  display:block;
  text-decoration:none
}

.sidebar-nav li a:hover
{
  color:#000;
  background:#fff;
  text-decoration:none;
  transition:all .2s ease 0
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:20px
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:15px;
  font-weight:100;
  color:#5d5f67
}

.nav-toggle {
    display: none;
    color: #d90006;
    padding-left: 10px;
    padding-top: 10px;
  }

.brand
{
  font-weight:600;
  color:#6c7077;
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  font-size:1.2em;
  text-shadow:1px 1px #fff
}

.brand:hover
{
  color:#d90006;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}

.sidebar-nav > .sidebar-brand a
{
  color:#999
}

.sidebar-nav > .sidebar-brand a:hover
{
  color:#fff;
  background:none
}

.content-header
{
  height:65px;
  line-height:65px
}

.content-header h1
{
  line-height:65px;
  display:inline-block;
  margin:0 0 0 20px
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}

ul,ol
{
  font-weight:lighter
}

pre
{
  background:#f5f5f8
}

#social-wrapper
{
  color:#5c646f;
  padding:10px 0
}

#social-wrapper a
{
  font-size:15px;
  text-indent:20px
}

#social-wrapper li
{
  font-size:15px;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  color:#2d1e18;
  transition:all .3s ease 0
}

.showcase-wrapper
{
  width:100%;
  height:40vh;
  min-height:300px;
  margin-top:-30px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 2px #555;
  background-size: cover;
  background-position: center center;
  z-index:-4
}

.showcase-text
{
  font-size:3em;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20%
}

.wide
{
  width:100%;
  background-color:#fff;
  margin:0;
  padding:0 10% 30px
}

#welcome-greeting
{
  width:100%;
  padding-top:5px
}

#welcome-greeting > h1
{
  font-size:3em;
  font-weight:700;
  color:#d90006;
  line-height:130%
}

#welcome-greeting h1:hover
{
  font-size:3em;
  font-weight:700;
  color:#2d4440;
  transition:all .5s ease 0
}

#welcome-greeting > h2
{
  font-size:2em;
  font-weight:100;
  color:#2e2e2e;
  padding-top:0;
  line-height:140%
}

#welcome-greeting h2 a
{
  font-weight:100;
  color:#d90006
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-left:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#cdcdcd
}

.label-danger
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2em;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}

.showcase-button
{
  border-radius:.5em;
  background-color:transparent;
  border:1px solid rgba(255,255,255,.4);
  color:rgba(255,255,255,.8);
  font-weight:200;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
}

.showcase-button:hover
{
  border:1px solid rgba(255,255,255,1);
  color:rgba(255,255,255,1);
  background-color:transparent;
  transition:all .2s ease 0
}

.article-title
{
  font-size:35px;
  font-weight:700;
  color:#d90006;
  padding-top:15px
}

.meta
{
  text-shadow:1px 1px #fff;
  color:#b6b6b6
}

img
{
  max-width:100%;
}

#article
{
  margin-bottom:30px;
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  padding:10px 40px 0
}

.post
{
  padding-bottom:30px
}

.user-social
{
  color:#c4c4c4;
  margin-right:20px;
  text-decoration:none
}

.user-social a
{
  color:#c4c4c4;
  text-decoration:none;
  margin-right:20px
}

.blue-outline
{
  border:2px solid #d21c38
}

time
{
  color:#c9c9c9;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:100;
  text-shadow:1px 1px #fff
}

.pager li > a,.pager li > span
{
  border-radius:.5em
}

#self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}

#disqus_thread
{
  margin-top:100px
}

.recent-posts
{
  background-color:#fff;
  color:#4d4d4d;
  box-shadow:1px 1px 0 1px #e8e8e8;
  margin:10px 10%;
  padding:10px 40px
}

.recent-posts h1
{
  padding-bottom:10px;
  font-size:1.6em
}

.project-container
{
  width:100%;
  height:170px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-image:url(http://lorempixel.com/900/200/);
  background-size: cover;
  z-index:-4;
  margin-top:-55px;
  margin-bottom:30px;
  color:#fff
}

.project-container h1
{
  font-size:3em;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20px
}

.project-container p
{
  font-weight:200;
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  color:#fff;
  text-align:center;
  left-padding:20%
}

.project-box
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-box:hover
{
  background-color:#fff;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-title
{
  color:#000
}

.project-image
{
  position:relative;
  margin:0
}

.project-image hr
{
  margin-top:5px;
  margin-bottom:0;
  display:none
}

.project-post
{
  cursor:pointer
}

.project-post h4
{
  font-weight:200;
  font-size:1em
}

.user-card
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  max-width:800px;
  padding:10px 40px 0
}

.user-card h1
{
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  font-weight:bolder;
  font-size:2.5em;
  line-height:55px;
  color:#d90006
}

.user-card p
{
  color:#c4c4c4;
  font-size:small
}

.card
{
  margin-left:-40px;
  margin-top:-10px
}

.letter p
{
  font-size:1.2em;
  font-weight:lighter;
  color:#737373;
  text-shadow:1px 1px #fff
}

.fashion
{
  border-left:solid 2px #bc0005
}

.fashion-button
{
  background-color:#bc0005
}

.fashion:hover
{
  border-left:solid 2px #f40006
}

.fashion-button:hover
{
  background-color:#f40006
}

.programming
{
  border-left:solid 2px #7dbcb2
}

.programming-button
{
  background-color:#7dbcb2
}

.programming:hover
{
  border-left:solid 2px #bbe9e2
}

.programming-button:hover
{
  background-color:#bbe9e2
}

.tech
{
  border-left:solid 2px #644539
}

.tech-button
{
  background-color:#644539
}

.tech:hover
{
  border-left:solid 2px #F4A273
}

.tech-button:hover
{
  background-color:#F4A273
}

.misc
{
  border-left:solid 2px #9e9599
}

.misc-button
{
  background-color:#9e9599
}

.misc:hover
{
  border-left:solid 2px #cfe0ea
}

.misc-button:hover
{
  background-color:#cfe0ea
}

.podcasts
{
  border-left:solid 2px #387b94
}

.podcasts-button
{
  background-color:#387b94
}

.podcasts:hover
{
  border-left:solid 2px #2FD0EF
}

.podcasts-button:hover
{
  background-color:#2FD0EF
}

#menu-toggle,.project-post div
{
  display:none
}

#article h1,#article h2,#article h3
{
  color:#3a3a3a
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
  padding-top: 20px;
}

#sidebar-wrapper {
    border-right: 4px solid #d90006;
    border-top: none;
    left: 0px;
}
 .nav-toggle {
    display: ;
  }
#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.7s ease 0s;
}


.inset {
  padding: 15px;
}
.navbar
{
  display: inherit;
  background-color: #ededed;
  margin-top: -20px;
}

}

@media screen and (max-width: 500px) {
  #welcome-greeting h2 {
   font-size: 15px;
   transition: all 0.2s ease 0s;
   font-weight: 200;
   line-height: 30px;

  }
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 15px 15px 0 15px;
  }

  #article {
      padding: 0 10px 0 10px;
  }




.showcase-wrapper {
  width: 100%;
  height: 60vh;

  font-size: small;
  margin-top: -30px;
}

}
