---
title: About
---
<div class="container">
  <div class="container">
    <div class="row">
      <div class="user-card">
        <div class="row">
          <div class="card col-md-3">
            <img src="{{ site.baseurl }}/images/gyrfalcon_cliff.jpg">
          </div>
          <div class="col-md-9">
            <h1>Molly McDermott</h1>
            <!-- <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;42°2'16"N   70°12'47"W</p> -->
            <p><i class="fa fa-envelope-o"></i>&nbsp;EmailAddress[at]Website.com </p>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 letter">
            <p>
            I study sexual selection in songbirds as a Ph.D. student at the University of Colorado Boulder. I’m interested in social and ecological effects on animal behavior. Driving questions of my research are 1) How does an individual’s environment impact their attractiveness? 2) How does the social environment affect mate choice? 3) What are the genetic consequences of monogamy and other mating systems?
            </p>
            <p>
            I come to evolutionary research with a background in ecology. I recently finished my master’s researching how climate-driven vegetation change in the Arctic may impact insects and the migratory birds that depend on them for food.
            </p>
            <p>
              Bridging my scientific and creative interests is a source of constant inspiration and frustration, resulting in a few research projects, mad science experiments, a love of birdsong, and a small but growing library of field recordings.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
