---
title: Music Projects
---
  <div class="container">
  </div>

  <div class="project-container">
    <h1>Music Projects</h1>
    <p>Bands I've played in and albums I've recorded.</p>
  </div>

  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="http://lorempixel.com/g/400/400/">
        </div>
        <div class="col-md-9 project-post">
          <h1><a href="http://www.harmalaska.com">HARM</a></h1><h4>psych-folk</h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 2013</small></p><hr/>
          <div class="post">
          "Harm is an Alaskan ensemble that defies the bounds of typical genre standards. Blending psych-folk and hip-hop with classical themes the experimental chamber group defies any notion of musical normativity. Focused on texture and lyrical activism, Harm utilizes harmonium, banjo, bass, cello, clarinet, guitar, beat boxing and vocal layering to explore themes of violence, gender and sexuality. Whether the music compels you to dance or intently listen it leaves you with a feeling that is hard to describe, and not easily dismissed"
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="http://lorempixel.com/g/400/400/">
        </div>
        <div class="col-md-9 project-post">
          <h1>Project Name</h1><h4>subheading</h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 2013</small></p><hr/>
          <div class="post">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="project-box">
      <div class="row">
        <div class="col-md-3 project-image">
          <img src="http://lorempixel.com/g/400/400/">
        </div>
        <div class="col-md-9 project-post">
          <h1>Project Name</h1><h4>subheading</h4>
          <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 2013</small></p><hr/>
          <div class="post">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="project-box">
    <div class="row">
      <div class="col-md-3 project-image">
        <img src="http://lorempixel.com/g/400/400/">
      </div>
      <div class="col-md-9 project-post">
        <h1>Project Name</h1><h4>subheading</h4>
        <p class="meta"><small>&nbsp;<i class="fa fa-calendar-o"></i> 2013</small></p><hr/>
        <div class="post">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        </div>
      </div>
    </div>
  </div>
</div>
