  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Hello</h1>
      <h2>
        My name is Molly McDermott. I am a graduate student studying the insects of western Alaska, particularly those used by migratory songbirds to feed their nestlings. I am fascinated by arctic ecology and interested in understanding the impact of climate change on arctic wildlife. More details on my thesis work are on the Science page.
      <br>
      <br>
        I play music as part of several projects, which you can read more about in Sounds.
      <br>
      <br>
        Bridging my scientific and creative interests is a source of constant inspiration and frustration, resulting in a few research projects, mad science experiments, a love of birdsong, and a small but growing library of field recordings.
      <br>
      <br>
        I’ve been lucky enough to have a few adventures, including traveling Nicaragua and biking from Washington to Alaska, which are chronicled in Stories.
      </h2>
      <hr />
    </div>
  </div>
  <div class ="container">
