<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/science.html">Science</a></li>
      <li><a href="{{ site.baseurl }}/sound.html">Sound</a></li>
      <li><a href="{{ site.baseurl }}/stories.html">Stories</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <hr />
    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    <li><a href="{{ site.baseurl }}/science.html">Science</a></li>
    <li><a href="{{ site.baseurl }}/sound.html">Sound</a></li>
    <li><a href="{{ site.baseurl }}/stories.html">Stories</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> LinkedIn</a> </li>
      <li> <a href="{{ site.gScholar }}"><i class="fa fa-linkedin-square"></i> Research Gate</a> </li>
      <li> <a href="http://this is a link"><i class="fa fa-flask"></i> Google Scholar</a> </li>
    </div>
  </ul>
</div>
